{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}


<div class="row">
  <div class="col">
    <h4 class="card-title">Adventures <a href="{% url 'adventure-create' %}"><i class="bi bi-plus-square" alt="Create Adventure"></i></a></h4>
    {% if adventure_list %}
    {% for adventure in adventure_list %}
      <div class="card">
        <div class="card-body">
              <p>
                <h3><a class="text-decoration-none text-primary" href="{% url 'adventure-detail' adventure.slug %}">{{adventure.name}}</a></h3>
                <h5 class="text-muted">{{adventure.description}}</h5>
              </p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

</section>


{% endblock %}
